div {
	border-radius: 5px;
}

#header {
	height: 170px;
	background-color: #cdcdcd;
	margin-bottom: 8px;
  position: relative;
}

.left {
	height: 600px;
	width: 371px;
	background-color: #cdcdcd;
	float: left;
	margin-bottom: 8px;
}

.right {
	height: 600px;
	width: 1043px;
	background-color: #f19f4d;
	float: right;
	margin-bottom: 8px;
}

#footer {
	height: 50px;
	background-color: #cdcdcd;
	clear: both
}

h1 {
  font-size: 135px;
  font-family: Impact;
  margin-left: 160;
}

img {
  height: 130;
  width: 170;
  position: absolute;
  margin-top: -170px;
  margin-left: 230px;

}

h3 {
  font-family: Verdana;
  font-size: 25px;
}

h4{
  font-family: Verdana;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

h5 {
  margin-left: 20px;
  font-size: 20px;
  font-family: Verdana;

}

p {
  font-size: 18px;
  font-family: Verdana;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
    font-size: 18px;
    font-family: Verdana;
    margin-left: 20px;
    margin-right: 20px;
}

div marquee {
	margin-top: -88px;
	position: absolute;
}
marquee {
	margin-top: 595px;
	position: absolute;
}

.button1 {
    background-color: #f19f4d;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 150px;
    font-size: 30px;
    font-family: Impact;
    border-radius: 6px;
    margin-left: 80px;
    margin-top: 62px;
}

.button1:hover {background-color: #d66a00;}
